.venv
.envrc
.ruff_cache
.mypy_cache
.pytest_cache
**__pycache__**
**.vscode**
data/
/.env
*.session
*.session-journal
/github-repositories/
*.logs
bin/
tmp/
/.dumbjump
/session/
libs/
.cozo*
cozo*
.env.production
repos/
